@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

:root {
  --main-color: #2e68d4;
  --main-color-weak: #6e92d49d;
  --dark-bg: #1b1b1b;
  --dark-bg-secondary: #272727;
  --dark-bg-third: #363636ea;
  --border-color: #242424;
  --text-color: #eeeeee;
  --text-color-weak: #8d8d8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  outline: none;
  border: none;
}

body {
  color-scheme: dark;
  background-color: var(--dark-bg);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-right: 5px;
  flex-direction: column;
  position: relative;
  background-color: var(--dark-bg-secondary);
}

nav,
.tools {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  user-select: none;
  /* border-bottom: 1px solid var(--border-color); */
  /* position: absolute;
  top: 0;
  left: 0; */
}

.tools {
  justify-content: end !important;
  gap: 5px;
}

.tools button,
nav button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  font-size: 24px;
  background-color: transparent;
  color: var(--text-color-weak);
  transition: 0.2s;
  cursor: pointer;
  &&:hover {
    background-color: var(--dark-bg-third);
    color: var(--text-color);
  }
}

nav .logo {
  width: fit-content;
  display: flex;
  align-items: center;
}

nav h1 {
  font-size: 22px;
  color: var(--text-color);
  font-family: "Mochiy Pop One";
  padding-bottom: 5px;
  padding-left: 10px;
}

.upload_container {
  width: 100%;
  height: calc(100svh - 60px);
  padding: 0 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload_cta {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.upload_cta i {
  font-size: 50px;
  color: var(--main-color);
}

.upload_cta h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color-weak);
  max-width: 360px;
  line-height: 38px;
}

.upload_btn {
  font-size: 18px;
  background-color: var(--main-color);
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 50px;
  margin: 16px 0;
  cursor: pointer;
}

.upload_defaults h2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-weak);
  max-width: 360px;
  margin-bottom: 15px;
  text-align: center;
}

.upload_defaults .upload_examples {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3px;
}

.upload_examples button {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
  border: 3px solid var(--dark-bg);
  opacity: 0.8;
  cursor: pointer;
  &&:hover {
    border-color: var(--main-color);
    opacity: 1;
  }
}

.upload_examples button img {
  width: fit-content;
  height: 100%;
  object-fit: cover;
}

.editor_container {
  display: flex;
  gap: 0px;
  width: 100%;
  height: calc(100svh - 60px);
  overflow: hidden;
  background: transparent;
}
.line_numbers {
  background: transparent;
  padding: 5px 5px 5px 10px;
  text-align: right;
  min-width: 40px;
  color: #4e4e4e;
  font-size: 16px;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 24px;
  font-family: monospace;
}
.editor_container textarea {
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 24px;
  overflow-y: scroll;
  background: transparent;
  color: var(--text-color);
}
