@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

:root {
  --main-color: #3a614d;
  --main-color-weak: #3a614d9d;
  --dark-bg: #1b1b1b;
  --dark-bg-secondary: #272727;
  --dark-bg-third: #363636ea;
  --border-color: #242424;
  --text-color: #eeeeee;
  --text-color-weak: #8d8d8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  outline: none;
  border: none;
}

.toastify {
  box-shadow: none !important;
  border-radius: 16px !important;
  overflow: hidden;
  font-size: 14px !important;
}

body {
  color-scheme: dark;
  background-color: var(--dark-bg);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  padding-right: 5px;
  flex-direction: column;
  position: relative;
  background-color: var(--dark-bg-secondary);
}

nav,
.tools {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  user-select: none;
  z-index: 20;
  /* border-bottom: 1px solid var(--border-color); */
  /* position: absolute;
  top: 0;
  left: 0; */
}

.tools {
  justify-content: end !important;
  gap: 5px;
}

.tools button,
.tools a,
nav button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  font-size: 24px;
  background-color: transparent;
  color: var(--text-color-weak);
  transition: 0.2s;
  cursor: pointer;
  &&:hover {
    background-color: var(--dark-bg-third);
    color: var(--text-color);
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo {
  width: fit-content;
  display: flex;
  align-items: center;
}

nav h1 {
  font-size: 22px;
  color: var(--text-color);
  font-family: "Mochiy Pop One";
  padding-bottom: 5px;
  padding-left: 10px;
}

.upload_container {
  width: 100%;
  height: calc(100svh - 60px);
  padding: 0 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload_cta {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.upload_cta i {
  font-size: 50px;
  color: var(--main-color);
}

.upload_cta h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color-weak);
  max-width: 360px;
  line-height: 38px;
}

.upload_btn {
  font-size: 18px;
  background-color: var(--main-color);
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 50px;
  margin: 16px 0;
  cursor: pointer;
}

.upload_defaults h2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-weak);
  max-width: 360px;
  margin-bottom: 15px;
  text-align: center;
}

.upload_defaults .upload_examples {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3px;
}

.upload_examples button,
.upload_examples a {
  width: 65px;
  height: 65px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.2s;
  border: 4px solid var(--dark-bg);
  opacity: 0.8;
  cursor: pointer;
  &&:hover {
    border-color: var(--main-color);
    opacity: 1;
  }
  &&:active {
    transform: scale(0.92);
  }
}

.upload_examples button img,
.upload_examples a img {
  width: fit-content;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.editor_container {
  display: flex;
  gap: 5px;
  width: 100%;
  height: calc(100svh - 60px);
  overflow: hidden;
  background: transparent;
}
.line_numbers {
  background: transparent;
  padding: 5px 5px 5px 10px;
  text-align: right;
  min-width: 45px;
  color: #4e4e4e;
  font-size: 16px;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 24px;
  font-family: monospace;
}
.editor_container textarea {
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 24px;
  overflow-y: scroll;
  background: transparent;
  color: var(--text-color);
}

.container {
  --uib-size: 40px;
  --uib-color: var(--main-color);
  --uib-speed: 2s;
  --uib-bg-opacity: 0;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 3px;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: var(--text-color-weak);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  background-color: var(--dark-bg);
  transition: 0.3s;
  pointer-events: none;
}

.info {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-color: var(--dark-bg);
  padding: 15px;
}

.info.show {
  visibility: visible;
  opacity: 1;
}

.info_container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
}

.close_button{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  font-size: 24px;
  background-color: transparent;
  color: var(--text-color-weak);
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  right: 14px;
  &&:hover {
    background-color: var(--dark-bg-third);
    color: var(--text-color);
  }
}

.info_container h1 {
  font-size: 52px;
  color: var(--text-color);
  font-family: "Mochiy Pop One";
  padding-bottom: 5px;
  padding-left: 10 5px 8pxpx;
  width: 100%;
  text-align: left;
}

.info_container h2 {
  font-size: 16px;
  color: var(--text-color-weak);
  padding: 5px 0 5px 8px;
  width: 100%;
  text-align: left;
  font-weight: 400;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

::-webkit-selection {
  background-color: var(--main-color);
  color: #fff;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}
